@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container{
    min-height: 100vh;
    width: 100%;
    list-style: none;
    display: flex;
    
}

.nav-list{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    position: fixed;
    margin-top: 50px;
}
.nav-list li{
    list-style-type: none;
}
.nav-list a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    position: relative;
}

.left-con,.right-con{
    display: flex;
    align-items: center;
}
.left-con{
    min-height: 100vh;
    width: 70%;
    background: black;
    padding-left: 3rem;
}
.right-con{
    min-height: 100vh;
    width: 30%;
    background: linear-gradient(-90deg,rgba(29, 237, 116, 0.251),black);
}
.icons .fa-brands{
    color: #bbb;
    font-size: 2rem;
    
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.content{
    margin-left: 4rem;
}
.content .intro{
    font-size: 1.5rem;
    color: #fff;
}
.content .intro span{
    color: aquamarine;
    font-size: 4rem;
}
.content h1{
    font-size: 3rem;
    color: rgb(139, 233, 234);
}
.content .detail{
    color: whitesmoke;
    font-size: 1.1rem;
    max-width: 40rem;
    margin: 1.1rem 0 3.1rem 0;
    line-height: 1.5rem;
}

.btn button{
    border: 2px solid rgb(0, 255, 234);
    font-size: 1.3rem;
    padding: .8rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
button:nth-child(1){
    background-color:   rgba(64, 250, 141, 0.772);
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color: aquamarine;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background: transparent;
    color: aquamarine;
}
button:nth-child(2):hover{
    background: rgba(64, 250, 141, 0.772);
    color: #262525;
}

.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(white, rgb(104, 249, 220));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .3s;
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 70%;
    transform: translate(-50% ,-50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg ,transparent 50% , black);
    width: 25rem;
}
.circle:nth-child(2){
    background: white;
    width: 18rem;
    background-image: url(sunset.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border: .1rem solid white;
    box-shadow: 0 0 4rem #26f7df , inset 0 0 1rem #fff,
    0 0 2rem white , inset 0 0 2rem #26f7df , inset 0 0 3rem #ffd455eb;
}

.nav-list li a::after ,.nav-list .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    height: 0.1rem;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: bottom right;
}
.nav-list li a:hover::after ,.nav-list .active::after{
    transform: scaleX(1);
    
    transform-origin: bottom left;
}